<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--li class="sidebar-search">
                            <!--div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div-->
                            <!-- /input-group -->
                        <!--/li -->
                        <li>
                            <a href="{$mn_menu}/"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                        </li>
			<li>
                            <a href="{$mn_cliente}/"><i class="fa fa-user fa-fw"></i>Clientes</a>
                        </li>
						<li>
                            <a href="{$mn_usuario}/"><i class="fa fa-users fa-fw"></i> Usuarios</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cogs fa-fw"></i> Configuracion<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{$mn_producto}/">productos</a>
                                </li>
                                <li>
                                    <a href="{$mn_comercial}/">Comerciales</a>
                                </li>
								<li>
                                    <a href="{$mn_gescalidad}/">Gestion de calidad</a>
                                </li>
								<li>
                                    <a href="{$mn_paramgeneral}/">Parametros Generales</a>
                                </li>
								<li>
                                    <a href="{$mn_unidadnegocio}/">Unidades de negocio</a>
                                </li>
								<li>
                                    <a href="{$mn_region}/">Regiones</a>
                                </li>
								<li>
                                    <a href="{$mn_sucursal}/">Sucursales</a>
                                </li>
								<li>
                                    <a href="{$mn_calendario}/">Calendario</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						<li>
                            <a href="{$mn_hispedidos}/"><i class="fa fa-table fa-fw"></i> Historico de Pedidos</a>
                        </li>
						<li>
                            <a href="{$mn_login}/"><i class="fa fa-power-off fa-fw"></i>Salir</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>